@import '../../scss/all.scss';
$service-bg :rgba($orange, $alpha: 0.28);
$font-size  : 2rem;
$mobbile-fs : $font-size*(3.9/4);
$head-mob   :2.5rem;

.sectionOffering {
    margin-top                : 2rem;
    @include flexed($direction: column, $justify: flex-start);

}

.servicesHead {
    @include heading-font;
    color: $blue;

    @include screen(mobile) {
        font-size: $head-mob;
    }
}

.Services {
    @include contain($bg    : transparent);
    @include flexed($justify: space-evenly);
    width                   : 100%;
    flex-wrap               : wrap;
}

.Service {
    border-radius           : 1rem;
    width                   : 36rem;
    max-height              : 32rem;
    padding                 : 2rem;
    margin                  : 2rem 0;
    background-color        : $service-bg;
    @include flexed($justify: space-evenly);

    svg {
        width     : 100%;
        height    : 10rem;
        align-self: self-start;
        margin    : 5rem 0;
    }



}

.typography {
    padding: 2rem;

    h1 {
        @include heading-font(4rem);
        color         : $blue;
        text-transform: capitalize;
    }

    p {
        @include paragraph-font(2rem);

    }
}



@media (max-width: 400px) {
    .Service {
        flex-direction : column;
        justify-content: center;
        max-height     : none;
        width          : 100%;

        svg {
            margin    : 0;
            align-self: center;
        }

        .typography {
            padding: 0;
        }
    }
}

:export {
    blue  : $blue;
    orange: #FBD9B8
}