@import '../../scss/all.scss';
// $orange    : rgba($color: #F27700, $alpha: 0.15);
$about-bg  :$orange;
$font-size : 2rem;

.aboutContainer {
    overflow-y           : hidden;
    @include contain($bg : $about-bg, $padding: 0 10rem, $max-width: 100%);
    color                : set-text-color($about-bg);
    position             : relative;
    overflow             : hidden;
}
.aboutHeading {
    @include heading-font();
    color      : $blue;
    text-align : center;
    grid-column: 1/-1;
    grid-row   : 1/ span 1;
}

.readMore {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    text-align      : center;
    margin          : 0;
    padding         : 30px 0;
    background-image: linear-gradient(to bottom, transparent, $about-bg);

    button {
        color           : $blue;
        background-color: $white;
        padding         : 1rem 2rem;
        outline         : none;
        border          : none;
        border-radius   : 1rem;
        @include heading-font(2rem);
        font-weight: 900;
        cursor     : pointer;
    }
}


.aboutMission,
.aboutPhilosophie,
.aboutConcept {
    @include paragraph-font;
    padding    : 2rem;
    font-weight: 400;

    a {
        color: $blue;
    }

    strong {
        color: $blue;
        @include heading-font($font-size*(23/20));
        margin-right: 1rem;
    }

    @include screen(mobile) {
        font-size: $font-size*5/6;

        a {
            font-size: $font-size*5/6;
        }
    }
}